In [34]:
import pandas as pd

In [35]:
data = pd.read_csv(r'C:/Users/sinch/Documents/Movie Recommendation/netflix_titles.csv')

In [36]:
data['tags'] = data['director']+ ' ' + data['cast'] +' ' + data['listed_in'] +' '+ data['description']

In [37]:
data = data[['show_id','type','title','tags']]

In [38]:
data.dropna(inplace=True)

In [39]:
data.reset_index(inplace=True, drop=True)

In [40]:
data

,show_id,type,title,tags
0,s3,TV Show,Ganglands,"Julien Leclercq Sami Bouajila, Tracy Gotoas, S..."
1,s6,TV Show,Midnight Mass,"Mike Flanagan Kate Siegel, Zach Gilford, Hamis..."
2,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha Vanessa Hudgens,..."
3,s8,Movie,Sankofa,"Haile Gerima Kofi Ghanaba, Oyafunmike Ogunlano..."
4,s9,TV Show,The Great British Baking Show,"Andy Devonshire Mel Giedroyc, Sue Perkins, Mar..."
...,...,...,...,...
5695,s8802,Movie,Zinzana,"Majid Al Ansari Ali Suliman, Saleh Bakri, Yasa..."
5696,s8803,Movie,Zodiac,"David Fincher Mark Ruffalo, Jake Gyllenhaal, R..."
5697,s8805,Movie,Zombieland,"Ruben Fleischer Jesse Eisenberg, Woody Harrels..."
5698,s8806,Movie,Zoom,"Peter Hewitt Tim Allen, Courteney Cox, Chevy C..."
5699,s8807,Movie,Zubaan,"Mozez Singh Vicky Kaushal, Sarah-Jane Dias, Ra..."

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
cv = CountVectorizer(max_features=5700,stop_words='english')

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

In [44]:
vector = cv.fit_transform(data['tags'].values.astype('U')).toarray()

In [45]:
similarity = cosine_similarity(vector)

In [46]:
similarity

array([[1.        , 0.21764288, 0.05647825, ..., 0.        , 0.03121953,
        0.06024752],
       [0.21764288, 1.        , 0.02594996, ..., 0.02923527, 0.05737753,
        0.02768183],
       [0.05647825, 0.02594996, 1.        , ..., 0.03413944, 0.13400504,
        0.09697623],
       ...,
       [0.        , 0.02923527, 0.03413944, ..., 1.        , 0.1132277 ,
        0.03641785],
       [0.03121953, 0.05737753, 0.13400504, ..., 0.1132277 , 1.        ,
        0.07147417],
       [0.06024752, 0.02768183, 0.09697623, ..., 0.03641785, 0.07147417,
        1.        ]])

In [47]:
data[data['title']=='Zodiac'].index[0]

5696

In [48]:
similar_movies=sorted(list(enumerate(similarity[5696])),reverse=True, key=lambda vector:vector[1])

In [49]:
for i in similar_movies[0:6]:
    print(data.iloc[i[0]].title)
    print(i[1])

Zodiac
1.0
To and From New York
0.2637521893583148
Gothika
0.2637521893583148
WHAT DID JACK DO?
0.2449489742783178
Interrogation
0.223606797749979
The Highwaymen
0.22019275302527214

In [50]:
def recommend_movie(movie_name):
    movie_index = data[data['title']==movie_name].index[0]
    similar_movies=sorted(list(enumerate(similarity[movie_index])),reverse=True, key=lambda vector:vector[1])
    for i in similar_movies[1:6]:
        print(data.iloc[i[0]].title +' with similarity of '+ str(round(i[1]*100,2)))

In [51]:
recommend_movie('Ganglands')

Bangkok Breaking with similarity of 51.21
Dealer with similarity of 50.83
The Forest of Love: Deep Cut with similarity of 50.74
Sleepless Society: Two Pillows & A Lost Soul with similarity of 49.67
Unlucky Ploy with similarity of 47.36

In [52]:
import pickle as pk

In [56]:
pk.dump(data, open(r'C:/Users/sinch/Documents/Movie Recommendation/netflix_titles.csv', 'wb'))

In [55]:
pk.dump(similarity, open('similarity.pkl','wb'))